*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header{
    background-color: black;
    height: 80px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
h1

.container{
    width: 1200px;
    height: 100%;
    

}
.section-1 .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.section1-link{
    margin-top: 32px;
    margin-bottom: 32px;
}
.terms-and-conditions{
    font-size: 12px;
    max-width: 630px;
}

.section-1left{
    display: flex;
    flex-direction: column;
}

.hero-image{
    width: 400px;
    margin-left: 72px;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 600;
}
h1{
    font-size: 40px;
}
p{
    font-size: 24px;
    margin-top: 32px;
}
.link-button-black{
    background-color: black;
    color: white;
}
.link-button{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 24px;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}
body{
    font-family:'poppins' sans-serif;
}
.link-button-outlined{
    border: 1px solid black;
    color: black;
}
    
.logo{
    height: 100%;
}
.nav-list{
    display: flex;
    flex-direction: row;
}
.nav-list li{
    margin-left: 32px;
}
.nav-link{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;

}
.section-1{
    background-color: rgb(255, 205,210);

    display: flex;
    flex-direction: row;
    justify-content: center;
     
    padding-left: 48px;
    padding-bottom: 48px;
    height: 478px;


}
   